@font-face {
font-family: 'DINPro-Regular';
font-style: normal;
font-weight: normal;
src: local('DINPro-Regular'), url('DINPro-Regular_13937.woff') format('woff');
}
@font-face {
font-family: 'DINPro-Light';
font-style: normal;
font-weight: normal;
src: local('DINPro-Light'), url('DINPro-Light_13935.woff') format('woff');
}
@font-face {
font-family: 'DINPro-Bold';
font-style: normal;
font-weight: normal;
src: local('DINPro-Bold'), url('DINPro-Bold_13934.woff') format('woff');
}


.header{
    position: relative;
    width: 100%;
    height: 170px;
    font-family: DINPro-Regular;
    z-index: 1;
  }
  
  
  .topInfo{
    display: inline-block;
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-top: 3px solid lime;
    text-align: center;
  }
  
  .telemail{
    width: 350px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .telemail span, a{
    color: #aaa;
    text-decoration: none;

    font-size: 15px;
  }
  
  .media{
    position: absolute;
    display:inline-block;
    width: 20%;
    height: 50px;
    margin-left: 32%;
    margin-top: -30px;
  }
  .media img{height: 35px;}
  
  .media div{
    display:inline-block;
    margin-left: 5px;
    margin-top: 5px;
  }
  .media div:hover{opacity: 0.6}
  
  
  .menu{
    position: absolute;
    width: 100%;

  }
  .logo{
    height: 100px;
    margin-left: 20px;
    float: left;
  }
  
  .m-line{
    height: 150px;
    margin-top: -0.1%;
    padding: 2px;
    float: right;
    font-size: 16px;
    font-family: DINPro-Bold;
    color: #444;
  }
  .m-line > div{
    display: inline-block;
    float: left;
    margin-right: 20px;
    padding-top: 60px;

  }
  
  .sziv-img{
    background-image: url("sziv-icon.png");
    background-size: cover;
    width: 15px;
    height: 15px;
    margin-top: 13px;
    float: left;
  }
  .nyilt p{
    margin-left: 20px;
  }
  
  .dropdown{
    display: none;
    position: absolute;
    text-align: left;
    margin: 0px;
    padding-top: 5px;
    float: left;
    font-family: DINPro-Light;
  }
  .dropdown a{
    color: #666;
    font-size: 20px;
    font-weight: normal;
    margin-top: 1px;
    padding: 20px;
    background: #eee;
  }
  .rolunk:hover, .alapozo:hover, .junior:hover, .nyilt:hover, .vallalat:hover,
  .galeria:hover, .kapcsolat:hover{
    border-top: 3px solid #888;
    padding-top: 57px;
  }
  .rolunk:hover .dropdown, .rolunk a, .alapozo:hover .dropdown, .alapozo a,
  .junior:hover .dropdown, .junior a, .nyilt:hover .dropdown, .nyilt a,
  .vallalat:hover .dropdown, .vallalat a{
    display: block;
  }
  .rolunk a:hover, .alapozo a:hover, .junior a:hover, .nyilt a:hover, .vallalat a:hover{
    background: #aaffcc;
  }
  
  
  