<h1>New todo item</h1>
<form action="todo" method="POST">
    <table>
        <tr>
            <td><label for="itemName">Item name: </label></td>
            <td><input type="text" value="" id="itemName" name="itemName"/></td>
        </tr>
        <tr>
            <td><label for="itemDone">done? </label></td>
            <td><input type="checkbox" id="itemDone" name="itemDone"/></td>
        </tr>
        <tr >
            <td colspan="2" align="right"><input type="submit" value="send" /></tdcolspan="2">
        </tr>
    </table>
</form>