<table border="1">
    <thead>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Author</td>
        <td>Modify</td>
    </tr>
    </thead>
    <tbody>
        <form action="books" method="POST">
        <tr>
            <td><input type="text" name="id" disabled></td>
            <td><input type="text" name="title" required></td>
            <td><input type="text" name="author" required></td>
            <td><input type="submit" value="Add"></td>
        </tr>
    </form>
    </tbody>
</table>



    