    <h1>email</h1>

        
    <label for="content">Content </label>
    <input type="text" value="{{message.content}}" name="content">
    <a href="/compose?from={{message.from}}&subject=RE:{{message.subject}}">Reply</a>
        
    

    
    
